fastapi
uvicorn
streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
pymupdf
pillow
transformers
scikit-learn
faiss-cpu
python-dotenv
python-multipart
torch
torchvision
torchaudio
librosa