transformers==4.46.1
huggingface-hub>=0.24.0
torch
torchvision
torchaudio
streamlit
fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-google-genai
pymupdf
pillow
scikit-learn
faiss-cpu
python-dotenv
python-multipart
librosa
