--upgrade pip
transformers==4.46.1
huggingface-hub==0.24.6
streamlit
fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-google-genai
pymupdf
pillow
scikit-learn
faiss-cpu
python-dotenv
python-multipart
torch
torchvision
torchaudio
librosa

